<div class ='search'>
  <input class= 'searchBar' type="text" ng-model="pizzle.$" placeholder='Search'>
  <select class="dropDown" name="dropDown" ng-model='sortBy'>
    <option value="selected">--- Select ----</option>
    <option value="difficulty">Difficulty</option>
    <option value="name">Name</option>
    <option value="class">Class</option>
  </select>
</div>
<br>
<div class='moves container'>
  <div class='movesRow row'>
    <div class ='movesCollection col-sm-4 col-md-4' ng-repeat='move in movesCollection | filter:pizzle | orderBy:sortBy'>
      <h4>{{move.name}}</h4>
      <div>{{move.class}}</div>
      <div class='moveDifficulty'>difficulty: {{move.difficulty}}</div>
      <!-- <div class='pull-left'>{{move.description}}</div> -->
    </div>
  </div>
</div>
