<div class="bodyLayout container">
  <div class='row'>
    <div class='bodyContent'>
      <img class = 'splashBboy' src="bboy.jpeg" alt="bboy">
      <div class='splashTitle'>
        <h1>Break It Down</h1>
        <a href="/dashboard">
          <h2 class='splashButton'ng-click='oauth()'>Sign in</h2>
        </a>
      </div>
    </div>
  <div class="bottomLayout container">
    <div class='row'>
      <div class='leftContent col-sm-4 col-md-4'>
        <img class='splashPics' src="http://placehold.it/140x100" alt='splashLeft'>
        <p class='leftBody'>Frankfurter ut eu ex boudin officia. In tri-tip do occaecat veniam eu quis venison tempor eiusmod in.</p>
      </div>
      <div class='middleContent col-sm-4 col-md-4'>
        <img class='splashPics' src="http://placehold.it/140x100" alt='splashMiddle'>
        <p class='middleBody'>Frankfurter ut eu ex boudin officia. In tri-tip do occaecat veniam eu quis venison tempor eiusmod in.</p>
      </div>
      <div class='rightContent col-sm-4 col-md-4'>
        <img class='splashPics' src="http://placehold.it/140x100" alt='splashRight'>
        <p class='rightBody'>Frankfurter ut eu ex boudin officia. In tri-tip do occaecat veniam eu quis venison tempor eiusmod in.</p>
      </div>
    </div>
  </div>
</div>
