*{
  font-family: 'Permanent Marker', cursive;
}

.bodyLayout{
  width: 100vw;
  height: 50vh;
}

.bodyContent{
  height: 65vh;
  width: 100vw;
  background-color: #2F3331;
  color: #65B18A;
}

.splashBboy{
  opacity: .8;
  width: 100%;
  height: 100%;
  border-bottom: 8px solid black;
  font-size: 30px;
  z-index: 1;
}

.splashTitle{
  color: black;
  position: relative;
  z-index: 2;
  bottom: 69%;
  left: 15%;
  width: 21%;
}

.splashButton{
  width: 96%;
  background-color: white;
  color: black;
  border-radius: 10px;
  text-align: center;
}

.splashPics{
  margin-top: 30px;
  border-radius: 50%;
}

.bottomLayout{
  width: 100vw;
}

.leftContent{
  text-align: center;
  height: 35vh;
  color: black;
}

.leftBody, .middleBody, .rightBody{
  font-size: 20px;
}

.middleContent{
  text-align: center;
  color: black;
  height: 35vh;
}

.rightContent{
  text-align: center;
  height: 35vh;
  color: black;;
}

.moves{
  height: 84vh;
}

.row{
  height: 100%;;
}

.movesCollection{
  width: 19%;
  height: 40%;
  margin:10px;
  border: 5px solid black;
  border-radius: 10%;
}

.movesRow{
  width: 80%;
  margin-left: 150px;
}

.classpic{
  margin: 10px 0px 0px 10px;
  padding: 10px 0px 30px 0px
}

.dashPic{
  margin-top: 50%;
  margin-left: 25px;
  margin-bottom: 50px;
  border-radius: 50%;
}

.navbar-toggle {
  border: none;
  background: transparent !important;

  &:hover {
    background: transparent !important;
  }

.icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.middle-bar {
  opacity: 0;
}
.bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

&.collapsed {
  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    transform: rotate(0);
  }
  }
}
